body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

div{
    display: block;
}
body, input, button{
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
}
.header {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
}
.bodyG {
    display:flex;
    flex-direction: column;
    height:100%;
}
.topLeftLink {
    padding: 5px;
    margin: 0px 5px;
}

.linkContainer{
    display: inline-block;
    flex-grow: 1;
}
.linkContainer2{
    height:48px;
    width: auto;
}

.smallLinkContainer{
    float: right;
    padding-left: 32px;
    box-sizing: border-box;
    height:48px;
    line-height: normal;
    padding: 0 4px;
    display:flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
    order:2;
}

.menuContainer {
    float: right;
    box-sizing: border-box;
    height:48px;
    line-height: normal;
    padding: 0 4px;
    display:flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    order:1;
}
.signin{
    float:right;
    width:120px;
    background-color: #1a73e8;
    color: #e0e0e0;
    height:100%;
    border-radius: 10px;
    font-size: 160%;
    margin-left: 25px;;
    display:flex;
    align-items: center;
    justify-content:center;
}
.signin:hover{
    background-color: #3f8bee;  
}
@media only screen and (max-width: 800px) {
    .signin{
        width:100px;
    }
  }

.linkStyle:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #222;
}
.googleImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 390px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}

.googleImageContainer{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.imageFoogle{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.searchContainer{
    padding:20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.searchContainerAlign{
    width: auto;
    max-width: 500px;
    position: relative;
    margin:0 auto;
    padding-top: 6px;
    
}

.searchBarContainer{
    width: auto;
    max-width: 500px;
    display:flex;
    border: 1px solid rgb(117, 117, 117);
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    z-index: 20;
}
.searchBarContainer:hover{
    box-shadow: 0px 0px 8px 0px grey;
}
.searchBarContainer2{
    flex:1;
    display:flex;
    padding: 5px 8px 0 16px;
}
.SearchImage {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.searchBar {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.custumBar {
    flex:100%; 
    border: none;
    padding:0;
    margin: 0;
    background-color: transparent;
    height:34px;
    z-index: 20;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
}

.spacer{
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

footer {
    background-color:#f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

.footContainer{
    padding: 0 20px;
    justify-content:space-evenly;
    display:flex;
    flex-wrap: wrap;
}