body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

div{
    display: block;
}
body, input, button{
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
}
.header {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
}
.bodyG {
    display:flex;
    flex-direction: column;
    height:100%;
}
.topLeftLink {
    padding: 5px;
    margin: 0px 5px;
}


.linkContainer{
    display: inline-block;
    flex-grow: 1;
}
.linkContainer2{
    height:48px;
    width: auto;
    justify-content:center;
}

.smallLinkContainer{
    float: right;
    padding-left: 32px;
    box-sizing: border-box;
    height:48px;
    line-height: normal;
    padding: 0 4px;
    display:flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
    order:2;
}

.menuContainer {
    float: right;
    box-sizing: border-box;
    height:48px;
    line-height: normal;
    padding: 0 4px;
    display:flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    order:1;
}
.signin{
    float:right;
    width:96px;
    background-color: #1a73e8;
    color: #e0e0e0;
    height:36px;
    border-radius: 6px;
    font-size: 100%;
    margin: auto 15px;;
    display:flex;
    align-items: center;
    justify-content:center;
}
.signin:hover{
    background-color: #3f8bee;  
}
@media only screen and (max-width: 800px) {
    .signin{
        width:80px;
    }
  }

.linkStyle:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #222;
}
.googleImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    flex-shrink: 0;
    box-sizing: border-box;
}

.googleImageContainer{
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.imageFoogle{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

.searchContainer{
    padding:20px;
    max-height: 160px;
    flex-shrink: 0;
    box-sizing: border-box;
}
.searchContainerAlign{
    width: auto;
    max-width: 584px;
    position: relative;
    margin:0 auto;
    padding-top: 6px;
    
}

.searchBarContainer{
    width: auto;
    max-width: 584px;
    display:flex;
    border: 1px solid rgb(184, 184, 184);
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    z-index: 20;
}
.searchBarContainer:hover{
    box-shadow: 0px 0px 6px 0px rgb(165, 165, 165);
}
.searchBarContainer2{
    flex:1;
    display:flex;
    padding: 5px 8px 0 16px;
}
.SearchImage {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.searchBar {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.custumBar {
    flex:100%; 
    border: none;
    padding:0;
    margin: 0;
    background-color: transparent;
    height:34px;
    z-index: 20;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
}
.searchButtons{
    height: 70px;
    display: flex;
    margin-top:25px;
    justify-content:center;

}
.googleButton{
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color:#f8f9fa;
    color: rgb(41, 41, 41)
}
.googleButton:hover{
    box-shadow: 0px 0px 6px 0px rgb(165, 165, 165);   
}
.spacer{
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

footer {
    background-color:#f2f2f2;
    flex-shrink: 0;
    box-sizing: border-box;
}

.footContainer{
    padding: 0px 20px;
    justify-content:space-evenly;
    display:flex;
    flex-wrap: wrap;
}

.botLeftLink{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    order:1;
}

.carbon{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 30%;
    order:2;    
}
.botRightLink{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 30%;
    order:3;
}
.marginBotLink{
    margin: 10px 15px;
}
.marginBotLink:hover{
    text-decoration:underline;
}